<div *ngIf="newsArticles$ | async as articles">
  
  <div *ngIf="articles.length === 0">
    <!-- No Articles in Grid -->
  </div>
  
  <div class="grid-container-small"
       *ngIf="articles.length === 1">
    <div class="grid1">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[0]"
	class="example-card">
      </news-card>
    </div>
  </div>
  
  <div class="grid-container-small"
       *ngIf="articles.length === 2">
    <div class="grid3">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[0]"
	class="example-card">
      </news-card>
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[1]"
	class="example-card">
      </news-card>

    </div>
  </div>

  <div class="grid-container-small"
       *ngIf="articles.length === 3">
    <div class="grid3">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[0]"
	class="example-card">
      </news-card>
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[1]"
	class="example-card">
      </news-card>
    </div>
    <span>
      click to see more articles
      </span>
  </div>

    <div class="grid-container-medium"
       *ngIf="articles.length === 4">
    <div class="grid2">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[0]"
	class="example-card">
      </news-card>
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[1]"
	class="example-card">
      </news-card>
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[2]"
	class="example-card">
      </news-card>
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[3]"
	class="example-card">
      </news-card>
    </div>

  </div>


  <div class="grid-container"
       *ngIf="articles.length === 5">
    <div class="grid1">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottom"
	[newsArticle]="(newsArticles$ | async)[0]"
	class="example-card">
      </news-card>
    </div>
    
    <div class="grid2">
      <news-card
	[newsCardOrientation]="NewsCardOrientation.topToBottomSmall"
	[newsArticle]="(newsArticles$ | async)[1]"
	class="example-card">
      </news-card>
      
      <news-card [newsCardOrientation]="NewsCardOrientation.topToBottomSmall"
	[newsArticle]="(newsArticles$ | async)[2]"
		 class="example-card">
      </news-card>
      
      
      <news-card [newsCardOrientation]="NewsCardOrientation.topToBottomSmall"
		 [newsArticle]="(newsArticles$ | async)[3]"
		 class="example-card">
      </news-card>
      
      <news-card [newsCardOrientation]="NewsCardOrientation.topToBottomSmall"
		 [newsArticle]="(newsArticles$ | async)[4]"
		 class="example-card">
      </news-card>
    </div>
    
  </div>
  
</div>


