<!--Card From Top to Bottom-->
<mat-card *ngIf="newsCardOrientation === NewsCardOrientationEunm.topToBottom" fxLayout='column'
  fxFlex="1 1 auto" class="mat-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image':
      'url(' + newsArticle.sourceImage + ')'}" class="header-image"></div>
    <mat-card-title class="title">{{newsArticle.title | longContent: 100}}</mat-card-title>
    <mat-card-subtitle class="subtitle" >{{newsArticle.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="newsArticle.articleImage" mat-card-image class="mat-card-image" src={{newsArticle.articleImage}} alt="" (click)="_onViewArticle()">
  <img *ngIf="!newsArticle.articleImage" src="../../assets/errorImg/cantLoadImg.png" alt="">
  <mat-card-content class="mat-card-content">
    <p>
      {{newsArticle.description | longContent: 150}}
    </p>

  </mat-card-content>

  <mat-card-actions class="mat-action-content">

    <like-button (onLiked)="_onLikeArticle($event)"
		 [hasLiked]="newsArticle.hasLiked"
		 [numLikes]="newsArticle.numLikes"> </like-button>

    <comment-button (onComment)="onComment.emit($event)" [numComments]="newsArticle.comments.length"> </comment-button>

    <star-button (onStar)="_onStarArticle()" [stared]="newsArticle.isStared"> </star-button>
  </mat-card-actions>

</mat-card>



<!--Card from Left to Right-->
<mat-card *ngIf="newsCardOrientation === NewsCardOrientationEunm.leftToRight" fxLayout="row" class="mat-card-left-to-right">
  <mat-card-header class="header-left-to-right" style="order: 1;  flex:1; ">
    <mat-card-subtitle class="subtitle-left-to-right" style="font-weight: bold;">{{newsArticle.subTitle}}</mat-card-subtitle>
    <mat-card-title class="title">{{newsArticle.title | longContent: 105}}</mat-card-title>

  </mat-card-header>
  <img *ngIf="newsArticle.articleImage" mat-card-image style="order: 2;" class="mat-card-image left-to-right" src={{newsArticle.articleImage}} alt=""
    (click)="_onViewArticle()">
    <img *ngIf="!newsArticle.articleImage" src="../../assets/errorImg/cantLoadImg.png" alt="">
</mat-card>
