<mat-toolbar class="example-toolbar">
  <button mat-button (click)="_onShowSources($event)">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>News Headlines</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="onMenuClicked.emit('Settings')">Settings</button>
  <button mat-menu-item (click)="onMenuClicked.emit('LogIn')">Log In</button>
  <button mat-menu-item (click)="onMenuClicked.emit('LogOut')">Log Out</button>
  <button mat-menu-item (click)="onMenuClicked.emit('Help')">Help</button>
</mat-menu>

</mat-toolbar>


