@import '~@angular/material/theming';

@mixin increate-news-top-nav-theme($theme) { 
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);


  .mat-menu-panel {
      .mat-menu-content {
	  background-color:mat-color($background, background);
	  button:hover {
	      color:mat-color($foreground, text);
	      background-color:mat-color($accent);
	  }
      }
  }
  
  news-top-nav {
      .mat-toolbar {
	  .mat-icon {
 	      color: mat-color($foreground, text);
	  }
	  span {
	      color: mat-color($foreground, text);
	  }
	  color: mat-color($foreground, text);
	  background-color: mat-color($background, background);	
      }
  }
}
