<mat-toolbar class="example-toolbar">
  <span>News Settings</span>
  <span class="example-spacer"></span>
 
  <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>

</mat-toolbar>
<form #settingForm>
  
  <div class="form-group">
    <label for="ncp"> Display at once</label>
    <input type = "text" name= "ncp" placeholder =
	   "how many" id = "ncp" class =
	   "form-control"
	   aria-label="NumCardsPerPage"
	   [(ngModel)]="numCardsPerPage">
    <label for="cna">Cache in chunks of</label>
    <input type = "text" name = "cna" placeholder = "cache size" class = "form-control" id = "cna" aria-label="NumCardsCachedPerGet"
	   [(ngModel)]="numCardsCachedPerGet">
    
    <mat-slide-toggle name="localStorage" [(ngModel)]="useLocalStorage">Connect to Local Storage</mat-slide-toggle>
    <mat-slide-toggle name="firesStoreStorage"
    [(ngModel)]="useFireStore">Connect to FireStore</mat-slide-toggle>
  </div>

    <span class ="example-spacer"> </span>

<ng-container *ngIf="auth.user$ | async as user; else login">
    UID: {{user.uid}}
    <img [src]="user.photoURL || 'assets/icon/anon.svg' ">
    {{user.displayName || 'No Name Set' }} 
    Anonymous {{user.isAnonymous}} <br> Email: {{user.email || 'unk'}}

   <button mat-button color="light" (click)="auth.logOut()">
      <mat-icon slot="start" name="glasses"></mat-icon>
    Log Out
  </button>

</ng-container>

<ng-template #login>
  <button mat-button color="medium" (click)="auth.anonymousLogin()">
    <mat-icon slot="start" name="glasses"></mat-icon>
    Login Anonymously
  </button>
  <button mat-button color="medium" (click)="auth.googleLogin()">
    <mat-icon slot="start" name="glasses"></mat-icon>
    Login with Google
  </button>

</ng-template>

    
    <button type="submit" class="btn btn-success" (click)="done()">Done</button>
</form>
